services:
  postgres:
    image: 'postgres:latest'
    restart: unless-stopped
    environment:
      - 'POSTGRES_DB=mydatabase'
      - 'POSTGRES_PASSWORD=sergio.play'
      - 'POSTGRES_USER=sergio'
    ports:
      - '5432:5432'

    volumes:
      - pgdata:/data/postgres
volumes:
  pgdata:
